.ant-drawer-header {
  background-color: #282828;
  border-radius: 0;
}

.ant-drawer-title {
  color: #fff;
}

.ant-drawer-body {
  background-color: #282828;
  color: #fff;
  height: calc(100vh - 55px);
}